# ignore __pycache__ directories
__pycache__/

# ignore files starting with "_" (except for __init__.py)
_*
!__init__.py

# ignore ./data content
data/*

# ignore all private files and folders (starting with ".") except for .gitignore
.*
!.gitignore